@font-face  {
    font-family: 'poke';
    src: url(./fuentes/Pokemon_Solid.ttf);
}

*{
    margin: 0;
    padding: 0;
}
body {
    
    background-color: #C4C4C4;
  
    overflow-x: hidden;
}
header h1 {
    font-family: 'poke';
    color:black; 
}

#showAllPokemons, 
#showFiltereByName, 
#showSortedPokemonsByTime ,
#showSortedPokemonsByChance,
#showFilteredPokemonsByType {
    width: 100%;
    height: 100%;
    display: flex; /*next to each other*/
    flex-flow: row wrap;
    
}

/*Pagina de inicio*/

#showAllPokemons {
    background: #C4C4C4;  
    padding: 5% 0 0 0;
   
}

#showAllPokemons p {
    font-family: 'Schoolbell', cursive;
    color: grey; 
    
}

.singlePokemon  {
    width: 25%;
    height: 25%;    
    display: flex;
    flex-direction: column;
    align-items: center;   

    box-shadow: 6px 6px 15px 2px 
            rgba(0, 0, 0, 1);
    overflow: hidden;
    transition: .5s;
    background-color: #083358;
    border: 1px solid black;
    /*background: linear-gradient(45deg, #F45C43, #EB3349);*/
    margin: -.5rem;
 
}

.singlePokemon:hover {
    transform: translateY(-2rem); /*ha8ce que pop out*/
    background: #F2CF3C;
    border: 1px solid #083358;
    
} 

.singlePokemon:hover ~ .singlePokemon {
    transform: translateX(2rem)

}


/*BusquedaByName */

.singleName  {
    width: 35%;
    height: 25%;    
    display: flex;
    flex-direction: column;
    align-items: center;   
    box-shadow: 4px 4px 4px 2px 
            rgba(0, 0, 0, 1);
    overflow: hidden;
    transition: .5s;
    background-color:  #B3A125;
    border: 1px solid black;
    /*background: linear-gradient(45deg, #F45C43, #EB3349);*/
    margin:.3% auto ;

}

.singleNameBack {
    width: 35%;
    height: 25%;    
    display: flex;
    flex-direction: column;
    align-items: center;   
    box-shadow: 4px 4px 4px 2px 
            rgba(0, 0, 0, 1);
    overflow: hidden;
    transition: .5s;
    background-color: #F2D377;
    border: 1px solid black;
    /*background: linear-gradient(45deg, #F45C43, #EB3349);*/
    margin:.3% auto ;
}

.singleName  p {
    font-family: 'Schoolbell', cursive;
    color:grey; 
    
}

.singleNameBack  p {
    font-family: 'Schoolbell', cursive;
    color:grey; 
    
}

.singleSortedPokemon {
    height: 100%;
    width: 30%;
    background-color: blue;
    margin:.3% auto ;
    display: flex;
    flex-direction: column;
    align-items: center;        
}

.singleBySpawnChance {
    height: 100%;
    width: 30%;
    background-color:green;
    margin:.3% auto ;
    display: flex;
    flex-direction: column;
    align-items: center;        
}


.singleType {
    height: 100%;
    width: 30%;
    background-color: purple;
    margin:.3% auto ;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

p {
    font-size: 2rem;
    text-align: center;
    color: aquamarine;
}
.pokeImg img , .imgen , .pokeSortedImg {
    display: block;
    margin: 0 auto;
}


