*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
}
#showPokemons, #showFilteredPokemons, #showSortedPokemons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}


.singlePokemon , .singlePokemonCard {
    height: 100%;
    width: 30%;
    background-color: tomato;
    margin:.3% auto ;
    display: flex;
    flex-direction: column;
    align-items: center;        
}

.singleSortedPokemon {
    height: 100%;
    width: 30%;
    background-color: blue;
    margin:.3% auto ;
    display: flex;
    flex-direction: column;
    align-items: center;        
}

p {
    font-size: 2rem;
    text-align: center;
    color: aquamarine;
}
.pokeImg img , .imgen , .pokeSortedImg {
    display: block;
    margin: 0 auto;
}


